@model IEnumerable<ED2Lab1_Carlos_Coronado_1236020.Models.Persona>
@{
    ViewData["Title"] = "Home Page";
}

<br /><br />
<h4>Registro de Personas</h4>
<form asp-action="CargarArchivo" method="post" enctype="multipart/form-data">
    <input type="file" name="File"  value="Seleccionar archivo" class="btn btn-outline-secondary"/>
    <input type="submit" value="Importar" class="btn btn-outline-secondary" />
</form>
<div class="form-inline">
    <form asp-action="BuscDPI" method="post">
        <input name="BuscDPI" type="search" class="form-control me-2" placeholder="DPI" />
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </form>
    <form asp-action="BuscName" method="post">
        <input name="BuscName" type="search" class="form-control me-2" placeholder="NOMBRE" />
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </form>

</div>

<table class="table">
    <thead style="background-color: #293241 ">
        <tr>
            <th style="color:aliceblue">DPI</th>
            <th style="color:aliceblue">Nombre</th>
            <th style="color:aliceblue">Fecha de nacimiento</th>
            <th style="color:aliceblue">Dirección</th>
            <th style="color:aliceblue">Reclutadores</th>
            <th style="color:aliceblue">Empresas</th>
            <th style="color:aliceblue">Decodificado</th>
            <th style="color:aliceblue">Encodificado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dpi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datebirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recluiter)
                </td>
                <td>
                     <select class="form-control">
                    @foreach(string val in item.companies)
                    {
                       <option style value=@val>@val</option>
                    }
                    </select>
                </td>
                <td>
                     <select class="form-control">
                    @foreach(string val in item.decodificacion)
                    {
                       <option style value=@val>@val</option>
                    }
                    </select>
                </td>
                <td>
                     <select class="form-control">
                    @foreach(string val in item.codificacion)
                    {
                       <option style value=@val>@val</option>
                    }
                    </select>
                </td>
                 <td>
                    @Html.ActionLink("Cartas", "Details", new { id = item.dpi}) 
                </td>
                <td>
                    @Html.ActionLink("Conversaciones", "CesarDescom", new { id = item.dpi}) 
                </td>
                 <td>
                    @Html.ActionLink("Llaves", "MosLlaves", new { id = item.dpi}) 
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
